.FeedButton {
  font-size: 13px;
  border: 2px solid;
  border-color: aquamarine;
  color: white;
  height: 40px;
  width: 110px;
  background-color: black;
  margin: 2px;
  transition: ease background-color 350ms;
  border-radius: 25px 25px 25px 25px;
  
}

.FeedButton:hover{
  background-color: gray;
}

.FeedButton label {
  color: white;
  font-weight: bold;
}